version: "3.9"
services:
  configserver:
    image: dayasahu6077/configserver:v26dec
    ports:
      - "8071:8071"
    volumes:
      - D:/1_GITHUB/microservices-training/config/props:/config
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8071/actuator/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
    environment:
      - "management.endpoints.web.base-path=/actuator"
      - "management.endpoints.web.exposure.include=health,info,metrics,beans,conditions,mappings,env,loggers,threaddump,heapdump"
      - "management.endpoint.health.show-details=always"
      - "SPRING_CLOUD_CONFIG_SERVER_NATIVE_SEARCH_LOCATIONS=file:/config/employee/,file:/config/department/"
    networks:
      - dsnetwork

  employee:
   image: dayasahu6077/employee:v26dec2am
   ports:
    - "8081:8080"
   environment:
    - SPRING_CONFIG_IMPORT=configserver:http://configserver:8071
    - SPRING_PROFILES_ACTIVE=dev
    - SPRING_APPLICATION_NAME=employee
   depends_on:
    configserver:
      condition: service_healthy
   networks:
    - dsnetwork


networks:
  dsnetwork:
    driver: bridge
